<div class="column">
  <nav class="panel">
    <p class="panel-heading">Cliq Stats</p>
    <div class="panel-block">
			<div class="level is-mobile">
				<div class="level-item has-centered-text">
					<div>
						<p class="heading">Post Count</p>
						<p class="title is-6"><%= @posts.count %></p>
					</div>
				</div>
			</div>
		</div>
  </nav>
</div>

    